<ion-view view-title="Event">
  <ion-content>
    <img class="full-image" src="img/banana-group.jpg">
    <div class="listing" style="padding:1em;">
      <div class="card-title">
        <h2>Portland Banana Group</h2>
        <h3>Wear a banana suit. Drink. <i class="icon ion-beer"></i></h3>
      </div>
      <div class="card-time">
        <p>Tonight | 7:00pm - 10:00pm</p>
      </div>
      <div class="card-location">
        <p>Apex Bar</p>
        <p style="color:#aaa;">1216 SE Division St</p>
        <p style="color:#aaa;">Portland, 97202</p>
      </div>
      <a href="#/app/map">
        <div id="info-location-map"></div>
      </a>
      <div class="card-description" style="margin-top: 2em;">
        <h3>Description</h3>
        <p>
          You are invited to be a part of the most exclusive banana suit group in town. Really we just want an excuse to wear a banana suit! Come on out, folks. How could dressing like a banana not be fun.
        </p>
      </div>
      <div class="card-tip">
        <h3>Pro Tip</h3>
        <p>
          You must dress like a banana. Seriously!
        </p>
      </div>
      <button class="button button-block button-positive" style="margin-top: 2em;">
        I'm Going
      </button>
    </div>
    <footer style="color:#aaa;text-align:center;margin-bottom: 0.5em;">The Chill</footer>
  </ion-content>
</ion-view>