<ion-view view-title="What To Do">
  <ion-content>
<!--   <div style="text-align:center">
    <img src="img/logo.png">
  </div> -->
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.page}}">
        <div class="card">
          <div class="item item-text-wrap">
            {{playlist.title}}
          </div>
        </div>
      </ion-item>
    </ion-list>
    <div class="list">
      <div class="item range range-positive">
        <input type="range" name="volume" min="0" max="100" value="33">
        10 miles
      </div>
    </div>
  </ion-content>
</ion-view>
