<ion-view view-title="Events">
  <ion-content>
<!--     <ion-item href="#/app/playlists/test-listing"> -->
    <a style="text-decoration:none;" href="#/app/listing">
      <div class="list card">
        <div class="item item-body">
          <img class="full-image" src="img/banana-group.jpg">
          <div class="card-title">
            <h2>Portland Banana Group</h2>
            <h3>Wear a banana suit. Drink. <i class="icon ion-beer"></i></h3>
          </div>
          <div class="card-time">
            <p>Tonight |  7:00pm - 10:00pm</p>
          </div>
          <div class="card-location">
            <p>Apex Bar</p>
            <div id="info-location-map"></div>
          </div>
        </div>
      </div>
    </a>
<!--     </ion-item> -->

  <!-- <ion-item href="#/app/playlists/test-listing"> -->
  <a style="text-decoration:none;" href="#/app/listing">
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="img/vader.jpg">
        <div class="card-title">
          <h2>Portland Banana Group</h2>
          <h3>Wear a banana suit. Drink. <i class="icon ion-beer"></i></h3>
        </div>
        <div class="card-time">
          <p>Tonight |  7:00pm - 10:00pm</p>
        </div>
        <div class="card-location">
          <p>Apex Bar</p>
          <div id="info-location-map"></div>
        </div>
      </div>
    </div>
  </a>
  <!-- </ion-item> -->
  
  <!-- <ion-item href="#/app/playlists/test-listing"> -->
  <a style="text-decoration:none;" href="#/app/listing">
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" src="img/brewvana.jpg">
        <div class="card-title">
          <h2>Portland Banana Group</h2>
          <h3>Wear a banana suit. Drink. <i class="icon ion-beer"></i></h3>
        </div>
        <div class="card-time">
          <p>Tonight |  7:00pm - 10:00pm</p>
        </div>
        <div class="card-location">
          <p>Apex Bar</p>
          <div id="info-location-map"></div>
        </div>
      </div>
    </div>
  </a>
  <!-- </ion-item> -->

  </ion-content>
</ion-view>
